.login_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.login_logo {
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: green;
    color: #fff;
}

.login_form {
    margin: 0 10px ;
}
.login_form .ui {
    margin-top: 10px;
}

.ui.primary.button{
    background-color: green;
    margin-bottom: 30px;
}

.divider {
    margin-top: 30px;
}

.login-third {
    margin-top: 30px;
    text-align: center; 
}
.login-third i {
    margin: 10px;
    
}
.login-third i.qq {
    color: lightseagreen;
}
.login-third i.rocketchat {
    color: green;
}